@page
@model MusicLibrary.Pages.Studio.Albums.CreateModel
@{
}

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Album</h1>

<div class="styled-form row py-3">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="album.ArtistName" />
            <div class="form-group">
                <label asp-for="album.AlbumName" class="control-label text-white"></label>
                <input asp-for="album.AlbumName" class="form-control" placeholder="Album Name" />
                <span asp-validation-for="album.AlbumName" class="text-danger"></span>
                <span asp-validation-for="album.ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary upload" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}