@page
@model MusicLibrary.Pages.Studio.Albums.DeleteModel
@{
}

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Album</h1>

<h3>Are you sure you want to delete this album?</h3>
<div class="styled-form row py-3">
    <dl class="row">
        <dt class="col-sm-2 text-white">
            Name
        </dt>
        <dd class="col-sm-10 text-white">
            My First Album
        </dd>
        <dt class="col-sm-2 text-white">
            Create Date
        </dt>
        <dd class="col-sm-10 text-white">
            3/30/2022
        </dd>
        <dt class="col-sm-2 text-white">
            Genre
        </dt>
        <dd class="col-sm-10 text-white">
            R&B
        </dd>
        <dt class="col-sm-2 text-white">
            Artist
        </dt>
        <dd class="col-sm-10 text-white">
            Temp Artist
        </dd>
        <dt class="col-sm-2 text-white">
            Number of Songs
        </dt>
        <dd class="col-sm-10 text-white">
            4
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<div>
    <a asp-page="Index">
        <img class="invert-icon" src="~/images/icons8-back-arrow-64.png" width="40px" height="40px" />
    </a>
</div>
