@page
@model MusicLibrary.Pages.Studio.Songs.UploadModel

@{
    ViewData["Title"] = "Upload";
}

<h1>Upload New Song</h1>

<div class="styled-form row py-3">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Song.Length" class="form-control" type="hidden" value="empty"/>
            <div class="mb-3">
                <label asp-for="Song.Name" class="control-label text-white"></label>
                <input asp-for="Song.Name" class="form-control" placeholder="random song name..."/>
                <span asp-validation-for="Song.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Song.FileName" class="control-label text-white"></label>
                <input type="file" asp-for="inputFile" id="inputFile" onchange="validateSize(this)" accept=".m4a, .mp3, .flac, .mp4, .wav, .wma, .aac" id="inputFile" name="inputFile" class="form-control" />
                <span asp-validation-for="Song.FileName" class="text-danger"></span>
                <div class="text-danger">
                    @{
                        if (Model.errorMessage!=null)
                        {
                            @Html.Raw(Model.errorMessage);
                        }
                        else @Html.Raw("");
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Song.Genre" class="control-label text-white"></label>
                <input asp-for="Song.Genre" class="form-control" placeholder="Pop, Country, Rock, Retro..." />
                <span asp-validation-for="Song.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary upload" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">
        <img class="invert-icon" src="~/images/icons8-back-arrow-64.png" width="40px" height="40px"/>
    </a>
</div>
<script>
function validateSize(input) {
  const fileSize = input.files[0].size / 1024 / 1024; // in MB
  if (fileSize > 30) {
    alert('File is too large, upper limit is 30 MB');
    document.getElementById('inputFile').value = '';
  } else {
    // Proceed further
  }
}
</script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
