@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*background-color: #FBAB7E;*/
    background: linear-gradient(45deg, rgba(251, 171, 126, 0.8) 0%, rgba(247, 104, 106, 0.8) 100%), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #717171;
    transition: .25s;
}

    a:hover {
        color: #4f4f4f;
    }

h1 {
    font-size: 1.75rem;
}

.welcome-text{
    font-family: "Poppins", sans-serif;
}

.navbar {
    background: #1C1715;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D8D8D8;
}

    .navbar-dark .navbar-nav .nav-link:hover {
        color: white;
    }

.input-bg, .input-bg::placeholder {
    background: #1C1715;
    color: #FFA869;
    border: 0;
    border-radius: .25rem;
}

.btn-primary svg {
    transition-duration: 250ms;
}

.btn-primary, .btn-primary svg {
    background: #1C1715;
    border: 0;
    color: #FFA869;
    font-weight: 600;
}

.invert-btn-primary {
    background: #FFA869;
    border: 0;
    color: #1C1715;
    font-weight: 600;
}

    .invert-btn-primary:hover {
        background: #df966d;
    }

    .btn-primary:hover, .btn-primary:hover svg {
        background: #494543;
        color: #FFA869;
    }

.table-container {
    background: #1C1715;
    width: 100%;
    max-height: 425px;
    border-radius: 8px;
    box-shadow: 0 8px 10px 2px rgba(0,0,0,0.5);
    overflow-y: auto;
    position: relative;
}

.table {
    border-radius: 8px;
    background: #322E2C;
    color: #FFA869;
    border: 0;
}

thead tr {
    position: sticky;
    top: 0;
    background: white;
    color: black;
    z-index: 4;
}

svg {
    fill: #FFA869;
}

.hover-dark{
    transition: .25s;
}
.hover-dark:hover {
    fill: #D48B57;
}

.invert-icon {
    background: white;
    border-radius: 50%;
    transition: 300ms transform;
}

    .invert-icon:hover {
        transform: translateX(-4px);
    }

    .invert-icon:active {
        transform: translateX(1px);
    }

.logo-svg {
    filter: invert(66%) sepia(82%) saturate(380%) hue-rotate(328deg) brightness(100%) contrast(101%);
    transition: .25s;
}

    .logo-svg:hover {
        filter: invert(55%) sepia(56%) saturate(393%) hue-rotate(342deg) brightness(98%) contrast(95%);
    }

.navbar-dark .navbar-nav .nav-link.register {
    background: white;
    border: 2px solid black;
    border-radius: 1.5rem;
    color: black;
    font-weight: 500;
}

    .navbar-dark .navbar-nav .nav-link.register:hover {
        background: transparent;
        border-color: white;
        color: white;
    }

.navbar-dark .navbar-nav .nav-link.login {
    border: 2px solid white;
    border-radius: 1.5rem;
    color: white;
    font-weight: 500;
}

    .navbar-dark .navbar-nav .nav-link.login:hover {
        background: white;
        color: black;
    }

.styled-form {
    background: #1C1715;
    border-radius: .5rem;
}

.other-form {
    color: #FFA869;
    width: 350px;
    padding: 1rem;
}

.LikeIcon svg path {
    fill: transparent;
    stroke: #FFA869;
    stroke-width: 2rem;
}

.LikeIcon.liked svg path {
    fill: #FFA869;
    stroke: none;
    stroke-width: 0;
}


label{
    cursor: pointer;
}

.btn-primary.upload {
    background-image: linear-gradient(45deg, #FBAB7E 0%, #f7686a 100%);
    color: #1C1715;
    transition: 250ms;
}

    .btn-primary.upload:hover {
        filter: brightness(0.95);
        transform: translateY(-2px);
    }

    .btn-primary.upload:active {
        transform: translateY(2px);
    }

.text-danger {
    font-weight: 500;
}

.layout__footer {
    background: #1C1715;
    padding: 1rem;
}


/*Scrollbar styling*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1C1715;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    background: #555;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #444;
    }


dl {
    display: flex;
    flex-flow: row wrap;
}

dt {
    flex-basis: 20%;
}

dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    text-align: right;
}


.audio-player-card {
    width: 350px;
    border-radius: 8px;
    padding: 1rem;
    background: #322E2C;
    color: #FFA869;
    box-shadow: 0 8px 10px 2px rgba(0,0,0,0.5);
}

.hover-btn {
    transition: .3s ease-out;
}

    .hover-btn:hover {
        transform: scale(1.15);
    }

    .hover-btn.hover-left:hover, .hover-btn.hover-left:focus {
        transform: translateX(-5px);
    }

    .hover-btn.hover-left:active{
        transform: translateX(2px);
    }

    .hover-btn.hover-right:hover, .hover-btn.hover-right:focus {
        transform: translateX(5px);
    }

    .hover-btn.hover-right:active {
        transform: translateX(-2px);
    }

.navbar-dark .navbar-nav .nav-link.login, .navbar-dark .navbar-nav .nav-link.register {
    font-size: .9rem;
}

@media (max-width: 768px) {
    .navbar-dark .navbar-nav .nav-link.login, .navbar-dark .navbar-nav .nav-link.register {
        font-size: .75rem;
    }
}