@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (Model.loggedInUserName != null)
    {
        ViewData["loggedIn"] = true;
    } else{
        ViewData["loggedIn"] = false;
    }
}

<div class="text-center mt-5">
    <h1 class="display-3 welcome-text">Welcome <b class="text-white">@{if (Model.loggedInUserName != null) {@Html.Raw(Model.loggedInUserName);}}</b> to Group 10 Music Library</h1>
</div>
