@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <b>@{if (Model.loggedInUserName != null) {@Html.Raw(Model.loggedInUserName);}}</b> to Team's 10 Music Library</h1>
</div>
