@page
@model MusicLibrary.Pages.Report.IndexModel
@{
}

<h1>Index Search</h1>

<div>
    <b1>Displaying albums published between dates: </b1>
    <input type="date"/> <b2> and </b2> <input type="date"/>
</div>

<div>
    <form method="post">
    <input type="date" name="from"/>
    <input type="date" name="to"/>
    <button type="submit" >Generate Results</button>
    </form>
</div>

@{//@Html.Raw(Model.AllAlBums[0].AlbumName)}